/* #ece0d1
#dbc1ac
#967259	
#634832
#38220f */

@font-face {
    font-family: 'Capriola';
    src: url('../fonts/Capriola/Capriola-Regular.woff2') format('woff2'),
        url('../fonts/Capriola/Capriola-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sacramento';
    src: url('../fonts/Sacramento/Sacramento-Regular.woff2') format('woff2'),
        url('../fonts/Sacramento/Sacramento-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dosis';
    src: url('../fonts/Dosis/Dosis-VariableFont_wght.woff2') format('woff2'),
        url('../fonts/Dosis/Dosis-VariableFont_wght.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100vh;
    background-color: #f6ede5;
    /* background-color: #ecdac4; */
    overflow: hidden;

}

#log-in-box-header {
    display: flex;
    height: 150px;
}

header {
    display: flex;
    width: 100vw;
    background-color: #ecdac4;
}

.header-text {
    display: flex;
    font-size: 40px;
    font-weight: bold;
    align-items: center;
    user-select: none;
}

.info-text {
    font-size: 25px;
    text-align: center;
}

#header-text-primarily {
    color: #ba9780;
    font-family: "Capriola";
    text-shadow: 2px 2px #644c42;
    z-index: 1;
}

.font-capriola {
    color: #ba9780;
    font-family: "Capriola";
}

.font-sacramento {
    color: #644c42;
    font-family: "Sacramento";
}

.font-dosis{
    color: #644c42;
    font-family: "Dosis";
}

#header-text-secondary {
    color: #644c42;
    font-family: "Sacramento";
    z-index: 0;
    font-weight: bold;
}

#img-header {
    float: right;
    pointer-events: none;
    user-select: none;
}

#sidepanel {
    width: fit-content;
    background-color: #dbc1ac;
}

#sidepanel-container {
    height: calc(100% - 242px);
}

#register-link {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.gj-icon {
    padding-top: 10px;
    padding-bottom: 10px;
}

div.gj-datepicker {
    transform: translate(0px, 12px);
}

#datepicker {
    user-select: none;
}

.border-v {
    border-left: 3px solid #8f7b72;
}

.border-h {
    border-top: 3px solid #8f7b72;
}

.border-outline {
    opacity: 1;
}

.post{
    background-color: #ffffff;
    height: fit-content;
}

.post-text{
    font-size: 18px;
}

#post-scroll-area {
    overflow-y: scroll;
}

#chat-scroll-area {
    overflow-y: scroll;
}