/* #ece0d1
#dbc1ac
#967259	
#634832
#38220f */

@font-face {
    font-family: 'Capriola';
    src: url('../fonts/Capriola/Capriola-Regular.woff2') format('woff2'),
        url('../fonts/Capriola/Capriola-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sacramento';
    src: url('../fonts/Sacramento/Sacramento-Regular.woff2') format('woff2'),
        url('../fonts/Sacramento/Sacramento-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dosis';
    src: url('../fonts/Dosis/Dosis-VariableFont_wght.woff2') format('woff2'),
        url('../fonts/Dosis/Dosis-VariableFont_wght.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100vh;
    background-color: #f6ede5;
    overflow: hidden;

}

#sign-in-box {
    height: 100vh;
    width: 100vw;
    background-color: #ecdac4;
}

#sign-in-box-header {
    display: flex;
    height: 150px;
}

#main-header-content {
    height: 242px;
    display: flex;
    width: 100vw;
    background-color: #ecdac4;
}

.header-text {
    display: flex;
    font-size: 40px;
    font-weight: bold;
    align-items: center;
    user-select: none;
}

#header-text-primarily {
    color: #ba9780;
    font-family: "Capriola";
    text-shadow: 2px 2px #644c42;
    z-index: 1;
}

#header-text-secondary {
    color: #644c42;
    font-family: "Sacramento";
    z-index: 0;
    font-weight: bold;
    transform: translate(-20px, 30px);
}

#header-coffee-fact {
    text-align: center;
    font-size: 25px;
    max-width: 600px;
}

.info-text {
    font-size: 25px;
    text-align: center;
}

#sign-in-text-primarily {
    color: #ba9780;
    font-family: "Capriola";
    text-shadow: 2px 2px #644c42;
    z-index: 1;
}

#sign-in-text-secondary {
    color: #644c42;
    font-family: "Sacramento";
    z-index: 0;
    font-weight: bold;
    transform: translate(-20px, 30px);
}

.font-capriola {
    color: #ba9780;
    font-family: "Capriola";
}

.font-sacramento {
    color: #644c42;
    font-family: "Sacramento";
}

.font-dosis {
    color: #644c42;
    font-family: "Dosis";
}

#img-header {
    float: right;
    pointer-events: none;
    user-select: none;
}

#main-container {
    height: calc(100% - 242px);
}

#sidepanel {
    width: fit-content;
    background-color: #dbc1ac;
}

#register-link {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
}

/* check if still relevant */
.gj-icon {
    padding-top: 10px;
    padding-bottom: 10px;
}

div.gj-datepicker {
    transform: translate(0px, 12px);
}

#datepicker {
    user-select: none;
}

/*  */

.border-v {
    border-left: 3px solid #8f7b72;
}

.border-h {
    border-top: 3px solid #8f7b72;
}

.border-outline {
    opacity: 1;
}

.post {
    background-color: #ffffff;
    height: fit-content;
}

.post-text {
    font-size: 18px;
}

#post-scroll-area {
    overflow-y: scroll;
    width: 100%;
    height: fit-content;
}

#userlist-scroll-area {
    overflow-y: scroll;
    width: 400px;
    height: 100%;
}

.userlist-object {
    width: 100%;
    min-width: 240px;
}

#chat-area {
    min-height: 100%;
    background-color: #ffffff;
}

#chat-scroll-area {
    width: 400px;
    overflow-y: scroll;
}

#notification-scroll-area {
    overflow-y: scroll;
}

.sender {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
    box-sizing: inherit;
    background-color: #dbc1ac;
    margin-bottom: 10px;
    padding: 15px;
    margin-right: 100px;
    border-radius: 12px;
    align-items: right;
}

.recipient {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
    box-sizing: inherit;
    background-color: #ba9780 !important;
    margin-bottom: 10px;
    margin-left: 100px;
    padding: 15px;
    border-radius: 12px;
}