<!-- Header -->
<div id="main-header">
    <div id="main-header-content" class="px-4 py-5 align-items-center d-flex justify-content-between">
        <div class="d-flex" style="min-width: 403px;">
            <a id="title" href="home" style="text-decoration:none;">
                <h1 class="header-text" id="header-text-primarily">
                    Cup Of Coffee

                </h1>
            </a>
            <h1 class="header-text" id="header-text-secondary">Forum</h1>
        </div>
        <h1 id="header-coffee-fact"
            class="header-text position-absolute start-50 translate-middle-x font-dosis align-items-center m-0 d-none d-xxl-block">
            Coffee
            is the
            second most valuable commodity being traded today - second only to petroleum</h1>
        <img id="img-header" src="static/images/cup-transparent.png" alt="cup-of-coffee">
    </div>
    <hr class="border-outline border-h p-0 m-0">
    </hr>
</div>