<!-- Profile page -->
<div id="view-profile-area" class="d-flex flex-row" style="width:100%; height: 100%;">
    <div class="d-flex flex-column justify-content-between" style="width:100%;">
        <!-- Create post container -->
        <div class="row px-3 py-0">

            <!-- Main input box -->
            <div style="max-width:1500px;margin: 0 auto;">
                <!-- Header -->
                <div>
                    <h1 class="my-3 font-dosis">Your Profile</h1>
                    <hr class="border-outline border-h">
                </div>

                <div class="d-flex flex-row">
                    <svg class="bi pe-none" width="150" height="150">
                        <use xlink:href="#people-circle" />
                    </svg>

                    <div class="d-flex flex-column ms-3 justify-content-center" style="gap:20px;">
                        <div class="profile-item">
                            <label id="username-label" class="font-dosis label" style="color: #644c42; font-weight: bold; font-size: 1.25rem;">Username:</label>
                            <span id="username" class="font-dosis value" style="color: #644c42; font-weight: bold; font-size: 1.25rem;">JohnDoe</span>
                        </div>
                    
                        <div class="profile-item">
                            <label id="full-name-label" class="font-dosis label" style="color: #644c42; font-weight: bold; font-size: 1.25rem;">Full Name:</label>
                            <span id="full-name" class="font-dosis value" style="color: #644c42; font-weight: bold; font-size: 1.25rem;">John Doe</span>
                        </div>
                    
                        <div class="profile-item">
                            <label id="birthdate-label" class="font-dosis label" style="color: #644c42; font-weight: bold; font-size: 1.25rem;">Birthdate:</label>
                            <span id="birthdate" class="font-dosis value" style="color: #644c42; font-weight: bold; font-size: 1.25rem;">21.06.2023</span>
                        </div>
                    
                        <div class="profile-item">
                            <label id="gender-label" class="font-dosis label" style="color: #644c42; font-weight: bold; font-size: 1.25rem;">Gender:</label>
                            <span id="gender" class="font-dosis value" style="color: #644c42; font-weight: bold; font-size: 1.25rem;">Male</span>
                        </div>
                    
                        <div class="profile-item">
                            <label id="email-label" class="font-dosis label" style="color: #644c42; font-weight: bold; font-size: 1.25rem;">Email:</label>
                            <span id="email" class="font-dosis value" style="color: #644c42; font-weight: bold; font-size: 1.25rem;">john@example.com</span>
                        </div>
                    
                        <div class="profile-item">
                            <label id="joined-label" class="font-dosis label" style="color: #644c42; font-weight: bold; font-size: 1.25rem;">Joined:</label>
                            <span id="joined" class="font-dosis value" style="color: #644c42; font-weight: bold; font-size: 1.25rem;">01.01.2023</span>
                        </div>
                    </div>
                </div>

                <div>
                    <h1 class="my-2 font-dosis">Your Posts</h1>
                    <hr class="border-outline border-h">
                </div>

                <div id="user-post-scroll-area" class="pt-3" style="width:100%; height: fit-content;">
                    <!-- Post template -->
                    <div id="post-template" class="post align-items-center d-flex flex-row p-3 mx-2 mt-0 mb-2"
                        style="border-radius: 3px;">
                        <!-- Profile picture -->
                        <svg class="bi pe-none m-3" width="75" height="75">
                            <use xlink:href="#people-circle" />
                        </svg>

                        <!-- Post info container -->

                        <div style="width:100%">
                            <div class="d-flex flex-row align-items-center">
                                <button class="btn btn-primary rounded-pill post-text post-category m-1 px-3 py-1">
                                    Question</button>
                                <a href="#" class="post-text post-title p-1">How to start coffee journey?</a>
                            </div>
                            <div class="d-flex flex-row">
                                <a href="#" class="post-creator p-1"
                                    style="font-size: 15px; color: #644c42;">Username</a>
                                <div class="post-creation-date p-1" style="font-size: 15px; color: #644c42;">
                                    01.01.2023
                                </div>
                                <div class="post-replies p-1" style="font-size: 15px; color: #644c42;">replies:
                                    10
                                </div>
                                <div class="post-views p-1" style="font-size: 15px; color: #644c42;">views: 10
                                </div>

                            </div>
                        </div>
                        <div class="post-img" style="width: 200px; height: auto;">
                            <img src="static/images/coffee-img.jpg" alt="cup-of-coffee" width="200px" height="auto"
                                style="border-radius: 3px;">
                        </div>
                    </div>
                    <div style="width: 100%;">
                        <button id="load-more-btn" class="btn btn-light mb-3 mx-2"
                            style="width: calc(100% - 16px);">Load more</button>
                    </div>
                </div>
            </div>

            <div></div>
        </div>
        <!-- Footer -->

        <footer>
            <hr class="border-outline border-h p-0 m-0">
            <p class="py-3 px-4 my-4" style="width: 100%; text-align: center;">Developed by Anton and
                Margarita, 2023
            </p>
        </footer>
    </div>
</div>