<!-- View post -->
<div id="view-post-area" class="d-flex flex-row" style="width:100%; height: 100%;">
    <div class="d-flex flex-column justify-content-between" style="width:100%;overflow-y: scroll;overflow-x: hidden;">
        <!-- View post container -->
        <div class="row p-5">

            <!-- Post content -->
            <div style="max-width:1500px;margin: 0 auto;">
                <!-- Header -->
                <div>
                    <div class="d-flex align-items-center">
                        <h1 class="my-2 font-dosis flex-left" id="view-post-title">Post Title</h1>
                        <button class="post-thread btn btn-filter rounded-pill post-text post-category  px-3 py-1 flex-right" id="view-post-category" style="cursor:text;margin-left: auto;">Question</button>
                    </div>
                    

                    <hr class="border-outline border-h">
                </div>

                <!-- Category -->
                <div class="row my-3">

                </div>

                <div class="row my-3">
                    <div class="col-12">
                        <img id="view-post-image" src="path_to_image.jpg" alt="Post Image" style="width: 30vw; float: left; margin-right: 20px;">
                        <pre id="view-post-content" style="white-space: pre-wrap;" style="width:40vw">Post Content</pre>
                    </div>
                </div>

                <div class="d-flex flex-row">
                    <a class="post-creator p-1" style="font-size: 15px; color: #644c42;">Username</a>
                    <div class="post-creation-date p-1" style="font-size: 15px; color: #644c42;">
                        01.01.2023
                    </div>
                    <div class="post-replies p-1" style="font-size: 15px; color: #644c42;">replies: 10
                    </div>
                </div>
                
            </div>
        </div>
        <!-- Footer -->
        <footer>
            <hr class="border-outline border-h p-0 m-0">
            <p class="py-3 px-4 my-4" style="width: 100%; text-align: center;">Developed by Anton and Margarita, 2023
            </p>
        </footer>
    </div>
</div>